<footer class="footer">
    <div class="footer-left">
      <img src="assets/logo.jpg" alt="Company Logo" class="logo">
      <p class="subheader">&copy; 2024</p>
    </div>
    <div>
      <p class="header">Version</p>
      <p class="subheader">2.2.2</p>
    </div>
    <div class="footer-right">
      <div>
        <p class="header">About</p>
        <p class="subheader">Contact Us</p>
        <p class="subheader">Privacy</p>
        <p class="subheader">Terms of Use</p>
      </div>
    </div>
  </footer>
  
