/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:host ::ng-deep .mat-mdc-paginator-range-actions{
    display: none !important;
}

:host ::ng-deep .mat-paginator-range-label {
    display: none !important;
  }
  